{% extends "base.html" %}

{% block content %}
<div class="settings-container">
<form method="POST" action="/settings">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <label>
        Текущий пароль
        <input type="password" name="cur_password" placeholder="Your current Password" required>
    </label>
    <label>
        Новый пароль
        <input type="password" name="new_password" placeholder="Your new Password">
    </label>

    <button class="confirm-button">
        Применить
    </button>
</form>
</div>
{% endblock %}

