/* Base.html + index.html styles */
body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
}
a {
    text-decoration: none;
    color: black;
}
header {
    height: 80px;
    background-color: #525252;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content {
    position: relative;
    width: 780px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #525252;
    border: 0;
    color: white;
    cursor: pointer;
}
.profile-menu {
    display: none;
    top: 85px;
    right: -60px;
    position: absolute;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px 0;
}
.profile-menu > a:not(:last-child) {
    margin-bottom: 15px;
}
.profile-menu.--active {
    display: flex;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 780px;
}
main > div:first-child {
    margin-top: 60px;
}
.post {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 18px 6px rgba(34, 60, 80, 0.16);
    padding: 20px 0;
    margin-bottom: 40px;
}
.post > div {
    width: 740px;
    margin: 0 20px;
}
.post__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.post__img > img {
    max-width: 100%;
    max-height: 100%;
}
.post__description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px !important;
}
.post__description-text {
    font-size: 25px;
    white-space: normal;
    overflow-wrap: break-word;
}
.post__likes { 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post__likes-count {
    font-size: 25px;
}
.selector {
    background-color: white;
    border: 0;
    padding: 0;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

/* registration.html + login.html styles */

/*
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
    height: 100vh;
    width:  100vw;
}
*/

.registration-container {
    width: 320px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 18px 6px rgba(34, 60, 80, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.registration-container > label {
    margin-bottom: 20px;
}
label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 10px;
}
input {
    width: 300px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #cfcfcf;
    padding: 0 10px;
    font-size: 20px;
}
.confirm-button {
    width: 220px;
    height: 50px;
    background-color: #525252;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    cursor: pointer;
    user-select: none;
    margin: 10px 50px 0 50px;
}
.confirm-button:hover {
    box-shadow: 1px 1px 18px 6px rgba(34, 60, 80, 0.16);
}
.confirm-button:active {
    background-color: #434343;
}
.check {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    align-items: center;
}
.check__input {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.check__description {
    user-select: none;
    cursor: pointer;
}
.profile-button > img {
    max-width: 90%;
    max-height: 90%;
}
.notification {
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    background-color: green;
    margin-bottom: 10px;
}
.is-danger {
    background-color: red;
}
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
    justify-content: center;
    color: white;
}
.main-page > img {
    max-width: 60%;
    max-height: 60%;
}
        #preview-container, .preview-container-edit {
            max-width: 500px;
            margin-top: 20px;
        }
	.preview-container-edit > img {
	    max-width: 100%;
	    max-height: 100%;
	}
	#ava-preview-container {
            max-width: 150px;
        }
        #preview-image {
            max-width: 100%;
            height: auto;
        }
	#ava-preview-image {
            max-width: 100%;
            height: auto;
        }
        #image-form {
            margin: 20px 0;
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
        }

        #image-input, .image-input-edit {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            opacity: 0;
            border-radius: 5px;
	    cursor: pointer;
	    padding: 0;
	    margin-right: 20px;
	    z-index: 5;
        }
	#ava-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            height: 150px;
            opacity: 0;
            border-radius: 5px;
            cursor: pointer;
            padding: 0;
            margin-right: 20px;
            z-index: 5;
        }
        .image-input-form {
            width: 200px;
            height: 200px;
            border-radius: 5px;
            background-color: #525252;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
	    position: relative;
	    margin-right: 20px;
        }
	.ava-image-input-form {
            width: 150px;
            height: 150px;
            border-radius: 5px;
            background-color: #525252;
            display: flex;
	    color: white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-right: 20px;
        }
        .plus-sign {
            width: 100px;
            height: 100px;
            position: relative;
        }

        .plus-sign::before {
            top: 47px;
            left: 20px;
            position: absolute;
            content: "";
            width: 60px;
            height:6px;
            background-color: white;
            border-radius: 5px;
        }
        .plus-sign::after {
            top: 47px;
            left: 20px;
            transform: rotate(90deg);
            position: absolute;
            content: "";
            width: 60px;
            height:6px;
            background-color: white;
            border-radius: 5px;
        }
        .image-input-form > span {
            color: white;
            font-size: 25px;
        }
.new-post-container__upload {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.new-post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 740px;
	padding: 0 20px;
	border-radius: 10px;
        background-color: white;
        box-shadow: 1px 1px 18px 6px rgba(34, 60, 80, 0.16);
	margin-bottom: 60px;
}
.text-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.text-input-container > span {
	font-size: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
}
.text-input {
	height: 200px;
	width: 720px;
	margin-bottom: 10px;
}
.image-input-and-preview {
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	margin-bottom: 20px;
}
.ava-image-input-and-preview {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
	width: 320px;
	justify-content: center;
	margin-top: 5px;
}

.settings-container {
    align-items: center;
    width: 740px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 18px 6px rgba(34, 60, 80, 0.16);
    margin-bottom: 60px
}
.settings-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basic-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.delete-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-btn-container > a {
    width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
    background-color: #525252;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
